DB_URL="postgres://postgres:postgres@localhost:5432/chirpy?sslmode=disable"
PLATFORM="dev"
JWT_SECRET="OiY0vYe8v0MM5LBkD2eEvOeMpHbnHZH3JE5VNNnGOMzkMg8dF4Qc2Y4CknUsY39O7v+eQ5OU/PvfWX68xkXWVA=="
LOG_LEVEL="DEBUG"
POLKA_KEY="secret-key"


